---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json

domain: bichls.dev

controllers:
  main:
    containers:
      main:
        image:
          repository: mendhak/http-https-echo
          tag: 38
        env:
          HTTP_PORT: &port "8080"
          LOG_IGNORE_PATH: /ping
          DISABLE_REQUEST_LOGS: "false"
        probes:
          liveness:
            enabled: true
            spec:
              httpGet:
                path: /ping
                port: *port
          readiness:
            enabled: true
            spec:
              httpGet:
                path: /ping
                port: *port
        resources:
          requests:
            memory: 32Mi
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext: &securityContext
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false

      busybox:
        image:
          repository: busybox
          tag: 1.37.0
        command:
          - sleep
          - infinity
        resources:
          requests:
            memory: 32Mi
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext: *securityContext

service:
  main:
    controller: main
    ports:
      http:
        port: *port

route:
  external:
    annotations:
      argocd.argoproj.io/sync-options: Replace=true
    hostnames:
      - "whoami.{{.Values.domain}}"
    parentRefs:
      - name: traefik-external
        namespace: traefik-system
        sectionName: https
    rules:
      - backendRefs:
          - identifier: main
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: oauth2
  internal:
    annotations:
      argocd.argoproj.io/sync-options: Replace=true
    parentRefs:
      - name: traefik-internal
        namespace: traefik-system
        sectionName: https
    hostnames:
      - whoami-10-242-20-170.lab-local.bichls.dev
    rules:
      - backendRefs:
          - identifier: main
            port: *port
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: oauth2
