---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json

scheme: https
hostname: &hostname rss.bichls.dev
tz: &tz Asia/Bangkok

defaultPodOptions:
  securityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000

controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsGroup: 1000
        runAsUser: 1000
        fsGroup: 1000
    containers:
      main:
        image:
          repository: ghcr.io/miniflux/miniflux
          tag: 2.2.14
          pullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: &http 8080
        envFrom:
          - secret: miniflux-env
          - configMap: main
        probes:
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthcheck
                port: *http
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /healthcheck
                port: *http
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 1Gi
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

configMaps:
  main:
    includeInChecksum: true
    data:
      BASE_URL: "https://{{ .Values.hostname }}"
      RUN_MIGRATIONS: "1"
      CREATE_ADMIN: "1"
      DISABLE_LOCAL_AUTH: "true"

      METRICS_COLLECTOR: "1"

      OAUTH2_PROVIDER: oidc
      OAUTH2_USER_CREATION: "1"
      OAUTH2_REDIRECT_URL: "https://{{ .Values.hostname }}/oauth2/oidc/callback"

service:
  main:
    controller: main
    ports:
      http:
        port: *http
        targetPort: *http

route:
  main:
    annotations:
      argocd.argoproj.io/sync-options: Replace=true
    parentRefs:
      - name: traefik-external
        namespace: traefik-system
        sectionName: https
    hostnames:
      - *hostname
    rules:
      - backendRefs:
          - group: traefik.io
            kind: TraefikService
            name: noop@internal
            port: 80
        matches:
          - path:
              type: PathPrefix
              value: /metrics
      - backendRefs:
          - identifier: main
            port: *http

serviceMonitor:
  main:
    enabled: true
    endpoints:
      - port: http
        scheme: http
        path: /metrics
        interval: 1m
