---
# https://github.com/zitadel/zitadel-charts/blob/main/charts/zitadel/values.yaml

fullnameOverride: zitadel

zitadel:
  configmapConfig:
    # https://github.com/zitadel/zitadel/blob/main/cmd/defaults.yaml
    ExternalDomain: id.bichls.dev
    ExternalSecure: true
    ExternalPort: 443
    Database:
      Postgres:
        Host: zitadel-postgresql-rw
        Port: 5432
        Database: zitadel_production
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
        User:
          Username: zitadel
          SSL:
            Mode: disable
    DefaultInstance:
      Features:
        LoginDefaultOrg: false
        LoginV2:
          BaseURI: https://id.bichls.dev/
      LockoutPolicy:
        MaxPasswordAttempts: 3
        MaxOTPAttempts: 3
      LoginPolicy:
        AllowUsernamePassword: true
        AllowRegister: false
        AllowExternalIDP: false
        ForceMFA: false
        HidePasswordReset: true
        IgnoreUnknownUsernames: true
        AllowDomainDiscovery: false
      Restrictions:
        DisallowPublicOrgRegistration: true
        AllowedLanguages:
          - en
      SMTPConfiguration:
        FromName: Sweet Home
        From: no-reply@bichls.dev
    FirstInstance:
      Org:
        Machine:
          Machine:
            Username: zitadel-iam-admin
        LoginClient:
          Machine:
            Username: zitadel-login-client

  masterkeySecretName: zitadel-env

login:
  loginClientSecretPrefix: zitadel-

envVarsSecret: zitadel-env

initJob:
  # Should be true initially
  enabled: true
  command: zitadel

cleanupJob:
  enabled: false

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

extraManifests:
  - apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    metadata:
      name: zitadel
      namespace: application
      annotations:
        argocd.argoproj.io/sync-options: Replace=true
    spec:
      parentRefs:
        - name: traefik-external
          namespace: traefik-system
          sectionName: https
      hostnames:
        - id.bichls.dev
      rules:
        - backendRefs:
            - name: zitadel-login
              port: 3000
          matches:
            - path:
                type: PathPrefix
                value: /ui/v2/login
        - backendRefs:
            - name: zitadel
              port: 8080
