---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - releaseName: openebs
    namespace: openebs
    repo: https://openebs.github.io/openebs
    name: openebs
    version: 4.4.0
    includeCRDs: true
    skipTests: true
    valuesFile: values.yaml

resources:
  - manifests/slow.yaml
  - manifests/fast.yaml
  - manifests/single.yaml
  - manifests/backup.yaml
  - manifests/volumesnapshotclass.yaml
