---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json

hostname: &hostname adguard-10-242-20-170.lab-local.bichls.dev

defaultPodOptions:
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    runAsNonRoot: true

controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      copy-config:
        image:
          repository: alpine
          tag: 3.23.3
          pullPolicy: IfNotPresent
        command:
          - /bin/sh
          - -c
          - cp /config/AdGuardHome.yaml /opt/adguardhome/conf/AdGuardHome.yaml
        resources:
          requests:
            cpu: 5m
            memory: 20Mi
          limits:
            memory: 32Mi
        securityContext: &securityContext
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
    containers:
      main:
        image:
          repository: adguard/adguardhome
          tag: v0.107.71
          pullPolicy: IfNotPresent
        ports:
          - name: dns
            containerPort: &dns 8053
            protocol: UDP
          - name: http
            containerPort: &http 8080
        resources:
          requests:
            cpu: 20m
            memory: 32Mi
          limits:
            memory: 512Mi
        probes:
          readiness:
            port: *http
            path: /health-check
          liveness:
            port: *http
            path: /health-check
        securityContext:
          !!merge <<: *securityContext
          capabilities:
            drop:
              - ALL
            add:
              - NET_BIND_SERVICE
              - NET_RAW

persistence:
  config:
    type: secret
    name: adguardhome-config
  conf:
    type: emptyDir
    sizeLimit: 10Mi
    globalMounts:
      - path: /opt/adguardhome/conf
  work:
    type: persistentVolumeClaim
    size: 1Gi
    accessMode: ReadWriteOnce
    storageClass: openebs-mayastor
    globalMounts:
      - path: /opt/adguardhome/work

service:
  main:
    type: ClusterIP
    ports:
      http:
        port: *http
        targetPort: *http
        protocol: TCP
  dns:
    type: ClusterIP
    ports:
      dns-udp:
        port: *dns
        targetPort: *dns
        protocol: UDP

route:
  main:
    hostnames:
      - *hostname
    parentRefs:
      - namespace: traefik-system
        name: traefik-internal
        sectionName: https
    rules:
      - backendRefs:
          - identifier: main
            port: *http
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: oauth2

networkpolicies:
  main:
    podSelector:
      matchLabels:
        app.kubernetes.io/name: adguardhome
    policyTypes:
      - Ingress
      - Egress
    rules:
      ingress:
        - from:
            - namespaceSelector:
                matchLabels:
                  kubernetes.io/metadata.name: traefik-system
            - podSelector:
                matchLabels:
                  app.kubernetes.io/name: traefik
          ports:
            - port: *http
            - port: *dns
              protocol: UDP
      egress:
        - {}
