---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json

domain: bichls.dev

defaultPodOptions:
  securityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000

controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: quay.io/oauth2-proxy/oauth2-proxy
          pullPolicy: IfNotPresent
          tag: v7.14.3
        args:
          - --config=/config/oauth2-proxy.cfg
        ports:
          - name: http
            containerPort: &http 4180
        probes:
          liveness:
            path: /ping
            port: *http
          readiness:
            path: /ready
            port: *http
        envFrom:
          - secret: oauth2proxy-env
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 512Mi
        securityContext:
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL

persistence:
  etc:
    type: secret
    name: oauth2proxy-config
    globalMounts:
      - path: /etc/oauth2-proxy

  config:
    type: configMap
    name: oauth2proxy-config

service:
  main:
    controller: main
    ports:
      http:
        port: *http
        targetPort: *http

route:
  main:
    annotations:
      argocd.argoproj.io/sync-options: Replace=true
    hostnames:
      - auth.{{.Values.domain}}
    parentRefs:
      - name: traefik-external
        namespace: traefik-system
        sectionName: https
    rules:
      - backendRefs:
          - identifier: main
            port: *http
