---
# yaml-language-server: $schema=https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/heads/master/traefik/values.schema.json
# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml

global:
  checkNewVersion: false
  sendAnonymousUsage: false

deployment:
  kind: DaemonSet
  # Local pluginns download
  # initContainers:
  #   - name: download-plugins
  #     image: alpine:3.22.2
  #     command:
  #       - /bin/sh
  #       - -c
  #       - |
  #         mkdir -p /plugins-local/src/github.com/moonlight8978/traefik-cloudflare-geoblock
  #         wget -O - https://github.com/moonlight8978/traefik-cloudflare-geoblock/archive/refs/tags/v1.0.3.tar.gz | tar -xz -C /plugins-local/src/github.com/moonlight8978/traefik-cloudflare-geoblock --strip-components=1
  #     volumeMounts:
  #       - name: plugins-local
  #         mountPath: /plugins-local
  # additionalVolumes:
  #   - name: plugins-local
  #     emptyDir: {}

# additionalVolumeMounts:
#   - name: plugins-local
#     mountPath: /plugins-local
#     readOnly: true

# additionalArguments:
#   - --experimental.localPlugins.cfgeoblock.moduleName=github.com/moonlight8978/traefik-cloudflare-geoblock
#   - --experimental.localPlugins.cfgeoblock.settings.useUnsafe=true

ports:
  ssh:
    port: 8022
    exposedPort: 22
    expose:
      default: true
  dns:
    port: 8053
    exposedPort: 53
    protocol: UDP
    expose:
      default: true
  syncthing:
    port: 8200
    exposedPort: 22000
    expose:
      default: true
  web-ext:
    port: 9080
    exposedPort: 80
    expose:
      external: true
  websecure-ext:
    port: 9443
    exposedPort: 443
    expose:
      external: true
    middlewares:
      # - traefik-system-geoblock@kubernetescrd
      - traefik-system-crowdsec@kubernetescrd
    forwardedHeaders:
      trustedIPs:
        # Cloudflare IPs https://www.cloudflare.com/ips-v4/
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
        # k8s pod cidrs
        - 10.42.0.0/16

service:
  type: LoadBalancer
  annotations:
    lbipam.cilium.io/ips: 10.242.20.170
  additionalServices:
    external:
      type: LoadBalancer
      annotations:
        lbipam.cilium.io/ips: 10.242.20.189

resources:
  requests:
    cpu: 50m
    memory: 32Mi
  limits:
    memory: 512Mi

ingressClass:
  enabled: false

experimental:
  kubernetesGateway:
    enabled: true
  plugins:
    csbouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      # renovate: datasource=github-releases depName=maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.5
    cfgeoblock:
      moduleName: github.com/moonlight8978/traefik-cloudflare-geoblock
      # renovate: datasource=github-releases depName=moonlight8978/traefik-cloudflare-geoblock
      version: v1.0.3

gateway:
  enabled: true
  name: traefik-internal
  listeners:
    web: null
    ssh:
      port: 8022
      protocol: TCP
      namespacePolicy:
        from: All
    syncthing:
      port: 8200
      protocol: TCP
      namespacePolicy:
        from: All
    http:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All
    https:
      port: 8443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - kind: Secret
          name: bichls.dev

gatewayClass:
  enabled: true

providers:
  kubernetesCRD:
    enabled: true
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
    statusAddress:
      service:
        enabled: false

volumes:
  - name: traefik-crowdsec
    type: secret
    mountPath: /var/secrets/crowdsec

logs:
  general:
    noColor: true
# metrics:
#   prometheus:
#     serviceMonitor:
#       enabled: true
