---
# yaml-language-server: $schema=https://raw.githubusercontent.com/moonlight8978/lbh-lab/refs/heads/jsonschema/external-secrets.io/externalsecret-v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-notifications-secret
  namespace: argocd
spec:
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
  refreshPolicy: Periodic
  refreshInterval: 1h
  dataFrom:
    - extract:
        key: argocd/notification
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/moonlight8978/lbh-lab/refs/heads/jsonschema/external-secrets.io/externalsecret-v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-secret
  namespace: argocd
spec:
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    creationPolicy: Merge
    deletionPolicy: Retain
  refreshPolicy: Periodic
  refreshInterval: 1h
  data:
    - secretKey: admin.password
      remoteRef:
        key: argocd/admin.password
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/moonlight8978/lbh-lab/refs/heads/jsonschema/external-secrets.io/externalsecret-v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-config
  namespace: argocd
spec:
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          app.kubernetes.io/part-of: argocd
  refreshPolicy: Periodic
  refreshInterval: 1h
  dataFrom:
    - extract:
        key: argocd/config

---
# yaml-language-server: $schema=https://raw.githubusercontent.com/moonlight8978/lbh-lab/refs/heads/jsonschema/external-secrets.io/externalsecret-v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-rbac-cm
  namespace: argocd
spec:
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  target:
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      metadata:
        labels:
          app.kubernetes.io/name: argocd-rbac-cm
          app.kubernetes.io/part-of: argocd
          reconcile.external-secrets.io/configmap: "true"
  refreshPolicy: Periodic
  refreshInterval: 1h
  dataFrom:
    - extract:
        key: argocd/rbac
