---
# yaml-language-server: $schema=https://www.schemastore.org/helmfile.json

helmDefaults:
  cleanupOnFail: true
  wait: true
  waitForJobs: true

releases:
  - name: cilium
    namespace: kube-system
    chart: oci://ghcr.io/home-operations/charts-mirror/cilium
    version: 1.18.5
    values:
      - ./cilium/values.yaml
    needs:
      - monitoring/prometheus-operator-crds
      - traefik-system/traefik-crds
    hooks:
      - events: [presync]
        command: bash
        args:
          - -c
          - |
            kustomize build crds --enable-helm | kubectl apply -f -
            until kubectl get crd servicemonitors.monitoring.coreos.com podmonitors.monitoring.coreos.com prometheusrules.monitoring.coreos.com httproutes.gateway.networking.k8s.io &>/dev/null; do sleep 5; done
      - events: [postsync]
        command: bash
        args:
          - -c
          - until kubectl get crd ciliumloadbalancerippools.cilium.io ciliuml2announcementpolicies.cilium.io &>/dev/null; do sleep 5; done
      - events: ["postsync"]
        command: kubectl
        args:
          - apply
          - -f
          - ./cilium/manifests
      - events: ["postsync"]
        command: bash
        args:
          - -c
          - until kubectl wait --for=condition=Ready node --all --timeout=10m; do sleep 10; done

  - name: coredns
    namespace: kube-system
    chart: oci://ghcr.io/coredns/charts/coredns
    version: 1.45.0
    values:
      - ./coredns/values.yaml
    needs:
      - kube-system/cilium

  - name: cert-manager
    namespace: cert-manager
    chart: oci://quay.io/jetstack/charts/cert-manager
    version: v1.19.2
    values:
      - ./cert-manager/values.yaml
    needs:
      - kube-system/coredns
    hooks:
      - events: ["postsync"]
        command: bash
        args:
          - -c
          - until kubectl get crd clusterissuers.cert-manager.io &>/dev/null; do sleep 5; done
      - events: ["postsync"]
        command: kubectl
        args:
          - apply
          - -f
          - ./cert-manager/manifests/selfsigned.yaml

  - name: external-secrets-creds
    namespace: external-secrets
    chart: oci://ghcr.io/bjw-s-labs/helm/app-template
    version: 4.5.0
    values:
      - secrets:
          bitwarden:
            forceRename: bitwarden-creds
            stringData:
              access-token: ref+sops://../../secrets.yml#/bitwarden_access_token

  - name: external-secrets
    namespace: external-secrets
    chart: oci://ghcr.io/external-secrets/charts/external-secrets
    version: 1.1.1
    values:
      - ./external-secrets/values.yaml
    needs:
      - cert-manager/cert-manager
    hooks:
      - events: ["presync"]
        command: kubectl
        args:
          - apply
          - -f
          - ./external-secrets/manifests/certificate.yaml
      - events: ["postsync"]
        command: bash
        args:
          - -c
          - until kubectl get crd clustersecretstores.external-secrets.io &>/dev/null; do sleep 5; done
      - events: ["postsync"]
        command: kubectl
        args:
          - apply
          - -f
          - ./external-secrets/manifests

  - name: argocd
    namespace: argocd
    chart: oci://ghcr.io/argoproj/argo-helm/argo-cd
    version: 9.1.8
    values:
      - ./argocd/values.yaml
    needs:
      - external-secrets/external-secrets
    hooks:
      - events: ["presync"]
        command: kubectl
        args:
          - apply
          - -f
          - ./argocd/manifests/externalsecret.yaml

  - name: argocd-apps
    namespace: argocd
    chart: oci://ghcr.io/argoproj/argo-helm/argocd-apps
    version: 2.0.2
    values:
      - ./argocd-apps/values.yaml
    needs:
      - argocd/argocd
    hooks:
      - events: ["presync"]
        command: bash
        args:
          - -c
          - until kubectl get crd applicationsets.argoproj.io appprojects.argoproj.io &>/dev/null; do sleep 5; done
