---
- name: Create warp volume
  become: true
  community.docker.docker_volume:
    name: cloudflare-warp
    state: present

- name: Run warp as container
  become: true
  community.docker.docker_container:
    name: cloudflare-warp
    image: caomingjun/warp:2025.9.558.0-2.12.0
    state: started
    restart_policy: always
    volumes:
      - cloudflare-warp:/var/lib/cloudflare-warp
    capabilities:
      - MKNOD
      - AUDIT_WRITE
      - NET_ADMIN
    device_cgroup_rules:
      - "c 10:200 rwm"
    ports:
      - "1080:1080"
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 0
      net.ipv4.conf.all.src_valid_mark: 1
    env:
      WARP_SLEEP: "2"
      WARP_LICENSE_KEY: "{{ cloudflare_warp_license_key }}"
