---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json

hostname: &hostname filebrowser-10-242-20-170.lab-local.bichls.dev
publicHostname: &publicHostname drive.bichls.dev
port: &port 80

controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    type: statefulset
    pod:
      nodeSelector:
        node-role.kubernetes.io/nas: nas
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 0
    containers:
      main:
        image:
          repository: filebrowser/filebrowser
          tag: v2.52.0
          pullPolicy: IfNotPresent
        ports:
          - name: http
            containerPort: *port
        probes:
          readiness:
            path: /health
            port: *port
          liveness:
            path: /health
            port: *port
        resources:
          requests:
            cpu: 20m
            memory: 64Mi
          limits:
            memory: 1Gi

persistence:
  database:
    type: persistentVolumeClaim
    storageClass: openebs-mayastor
    accessMode: ReadWriteOnce
    size: 500Mi
  config:
    type: persistentVolumeClaim
    storageClass: openebs-mayastor
    accessMode: ReadWriteOnce
    size: 500Mi
  srv:
    type: hostPath
    hostPath: /mnt/driver
    globalMounts:
      - path: /srv

service:
  main:
    controller: main
    ports:
      http:
        port: *port
        targetPort: *port

route:
  internal:
    annotations:
      argocd.argoproj.io/sync-options: Replace=true
    parentRefs:
      - name: traefik-internal
        namespace: traefik-system
        sectionName: https
    hostnames:
      - *hostname
    rules:
      - backendRefs:
          - identifier: main
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
  external:
    annotations:
      argocd.argoproj.io/sync-options: Replace=true
    parentRefs:
      - name: traefik-external
        namespace: traefik-system
        sectionName: https
    hostnames:
      - *publicHostname
    rules:
      - backendRefs:
          - identifier: main
            port: *port
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: oauth2
