# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/values.schema.json

controllers:
  main:
    containers:
      main:
        image:
          repository: prompve/prometheus-pve-exporter
          tag: 3.8.0
          pullPolicy: IfNotPresent
        ports:
          - name: metrics
            containerPort: &port 9221
        args:
          - --no-collector.config
        envFrom:
          - secret: prometheus-pve-exporter-creds
          - configMap: main
        probes:
          readiness:
            path: /metrics
            port: *port
          liveness:
            path: /metrics
            port: *port

configMaps:
  main:
    data:
      PVE_VERIFY_SSL: "false"
      PVE_MODULE: default

service:
  main:
    controller: main
    ports:
      metrics:
        port: *port
        targetPort: *port
